@model CologneStore.DTO.OrderDetailModel

<div class="modal fade" id="order-@Model.DivId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ordder Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Cologne</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>@item.Cologne.CologneName</td>
                            <td>@item.Cologne.Type.TypeName</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity * item.UnitPrice)</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>